h1 {
border: 0.5rem outset red;
border-radius: 6px;
font-family: lucida console;
color: white;
text-align: center;
}

p {
border: 0.5rem outset red;
border-radius: 12px;
font-family: verdana;
font-size: 20px;
color: white;
text-align: center;
}

p1 {
border: 0.5rem outset red;
border-radius: 6px;
font-family: verdana;
font-size: 20px;
color: white;
text-align: center;
}
</style>

