h1 {
border: 0.5rem outset pink;
border-radius: 12px;
font-family: verdana;
color: white;
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
text-align: center;
}

p1 {
font-family: verdana;
font-size: 20px;
text-align: center;
}
</style>

